*{
	margin: 0;
	padding: 0;
}


html{
	font-size: 20px;
}
header{
	width: 100%;
	height: 70px;
	background-color: #f195b3;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-content: auto;
}

	.ancho{
			width: 80%;
			height: 70px;
			background-color:#f195b3;
			display: flex;
			justify-content: flex-end; 
			margin: auto;
			
			}

		
		.logo{
			width: 30%;
			height: 70px;
			align-content: center;
			align-items: center;
			margin-left: 2px;
			margin-right: 6px;
			justify-content: flex-start;
			display: flex;
			background-color:#f195b3e;
				
				
			}


		nav{
			width: 70%;
			height: 70px;
			display: flex;
			text-align: center;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			background-color: #f195b3;
			justify-content: flex-end;
			padding-left: 20px;

		}
		
		/*nav ul li{
			text-decoration: none;
			
		}
*/
		nav ul{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			text-decoration: none;
			list-style-type: none;

		}

		nav ul li a {
			font-family: lemon milk;
			color: #fff;
			font-size: 12px;
			text-decoration: none;
			text-transform: uppercase;
			padding-left: 7px;
			font-weight: normal;
			letter-spacing: 1px;
		}
		nav ul li a:hover {
			color: #4444;
			text-decoration: none;
		}
		ol{
			padding-left: 5px;

		
		}

		.menu{
			display: flex;
			text-decoration: none;
		}
		

		div p a {
			color: #ffffff;
			font-family: lemon milk;
			font-size: 26px;
			text-decoration: none;

		}

.parrafo{
	padding-left: 20px;
	padding-top: 20px;
}
/*Estilo del body*/

#pantalla-dividida{
	display: flex;
	flex-wrap: nowrap;
	justify-items: center;
	align-items: flex-start;
	padding-top: 7px;
	height: 90%;
	width: 100%;
}
#pantalla-formulario{
	display: flex;
	flex-direction: column;
	align-items: center;
}

		#imagen-back{
			
			height: 100vh;
			background-size: cover;
			background-position: center;
			min-width: 328px;
		}

		#imagen-nosotros{
			display: flex;
			max-width: 540px;
			min-width: 420px;
			margin-left: 5px;
			margin-top: 5px;
		}
		/*.imagen {
			width: 50%;
			height: 100%;
			
		}*/

		.text{   /* texto del index*/
			font-size: 1.3rem;
			width: 50%;
			height: 100vh;			
			padding-left: 35px;
			text-align: center;
			justify-items: center;
			justify-content: center;
			padding-top:30px ;
			color: #3C3B3B;
	
		}/*texto del index*/
		#bienvenidos{ 
			font-size: 1em;
			width: 100%;
			i

}
#logo-index{
	width: 20%;
	
	min-width: 105px;
}
img {
	background-size: cover;
	width: 100%;
	background-position: center;

}
img:hover{
	transform: rotate(0deg) scale(0.893) skew(1deg) translate(-12px);
}
.boton{   /*boton de Productos*/
	width: 140px;
	height: 50px;
	background-color: #f195b3;
	font-family: lemon milk;
	font-size: 16px;
	text-transform: lowercase;
	font-weight: lighter;
	color: white;
	border: none;
	border-radius: 10px;
	
	box-shadow: 2px 2px 5px #999;
	padding: 5px;
	text-decoration: none;

}




body{font-family: 'Quicksand', sans-serif;;
	background:#e8e8e8;

	width: 100%;
	height: 100%;
	min-height: 100%;
	margin-bottom: 0;
}

#contenedor-grid{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}
#fondo-gradiente{ /*solo para la pagina "ENVIOS"*/
background: linear-gradient(to bottom, #2c3e50, #bdc3c7);


}


	
h1{
	font-family: lemon Milk, sans-serif;
	font-weight: bold;
	color: #f195b3;
	font-size: 40px;
}
#h1-index{
	font-family: lemon Milk, sans-serif;
	font-weight: bold;
	color: #f195b3;
	font-size: 40px;
	text-align: center;

}
 #h2-index{
 	font-family: lemon Milk, sans-serif;
	font-weight: lighter;
	color: #f195b3;
	padding-left: 10%;
	font-size: 1.5rem;
	max-width: 80%;

 }

footer{
	color: #f195b3;
	padding-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	clear: both;
}

h2{
	color: #8cc694;
	text-align: center;
	display: block;
}
fieldset{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	margin-left: 30px;
}

.form{
	padding-top: 25px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin-bottom: 5px;
	padding-bottom: 25px;

	}
form{
	padding-bottom: 25px;
	padding-right: 20px;
}

.table{
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 50px;
	margin-right: 200px;
}


table{
	margin-bottom: 10px;
	margin: 0 auto;
	border: solid;
	border-radius: 5px;
	padding: 5px;
}
 td{
 	padding: 5px;
 }

@font-face{
	font-family: lemon;
	src: url(fuentes/LEMONMILK-Regular.otf);

}

#leyendatabla{
	align-content: center;

}
 #tituloForm{
padding-top: 50px;
text-align: center;
margin-bottom: 5%;
}

#titulo-envio{
 padding-top: 110px;
text-align: center;
margin-bottom: 5%;
}

#titulo-galeria{
padding-top: 50px;
text-align: center;

}


.grid-container{
	display: grid;
	background-color: #e8e8e8;
	grid-template-columns: 120px 120px;
	grid-template-rows: auto auto auto auto auto;
	justify-content: center;
	


}

.grid-container div{
	background-color: #f195b3;
	text-align: center;
	color: white;
	border: 1px solid black;



}

.barrios{
	font-weight: bold;

}
.precios{
	font-weight: lighter;
}
.titulo-envios{
	grid-column: 1/3;
	text-transform: uppercase;
	border: 1px solid black;
}
.barrio1{
	grid-column: 1/2;
}
.barrio2{
	grid-column: 1/2;
}
.barrio3{
	grid-column: 1/2;
}
.barrio4{
	grid-column: 1/2;
}
.precio1{
	grid-column: 2/3;
	grid-row: 2/3;
}
.precio2{
	grid-column: 2/3;
	grid-row: 3/4;
}
.precio3{
	grid-column: 2/3;
	grid-row: 4/5;
}
.precio4{
	grid-column: 2/3;
	grid-row: 5/6;
}

.galeria{
	display: flex;
	padding-top: 25px;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 30px auto;
	justify-content: center;
	align-items: center;
}

.foto{
	width: 200px;
}

@media screen and (max-width : 800px){

	#pantalla-dividida{
		flex-direction: column-reverse;
		align-items: center;

	}
	#imagen-back{
		min-width: 200px;
	}
	h1{
		text-align: center;
		font-size: 1.2rem;
	}
	#h1-index{
		font-size: 1.2rem;
	}
	#h2-index{
		font-size: 1rem;

	}
	.text{
		font-size: 1rem;
		height: auto;
		padding: 5px;
	}
	#imagen-nosotros{
		
		min-width: 200px;

	}
	img{
		margin-top: 15px;
		width: 200px;

	}

}